/* It's defining the animation. */
$topdown: topdown 1s ease;
$downtop: downtop 1s 0.5s linear reverse backwards;


@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    50% {
        opacity: 0.3;
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    100% {
        opacity: 0;
        transform: translateY(15px);
    }
}
