/* Resetting the default browser styles. */
*,
*::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* It's defining the animation. */
@-webkit-keyframes topdown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes topdown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes downtop {
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes downtop {
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

body {
  background: #28293e;
  font-family: "Epilogue", sans-serif;
  font-size: 1.6rem;
  font-size: 62.5%;
  color: #ffffff;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body p {
  font-size: 1.6rem;
  font-weight: 400;
}

.page {
  max-width: 33rem;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  margin: 5rem 0 8rem;
  text-align: center;
  -webkit-animation: topdown 1s ease;
          animation: topdown 1s ease;
}

header p {
  text-transform: uppercase;
  color: #bbb3e6;
  letter-spacing: 3px;
  line-height: 3.2rem;
  margin-bottom: 1.7rem;
}

header h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 4.8rem;
}

main {
  display: -ms-grid;
  display: grid;
  gap: 3.2rem;
  animation: downtop 1s 0.5s linear reverse backwards;
}

img {
  width: 100%;
}

.card {
  position: relative;
}

.card img {
  height: 41.6rem;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 6px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-filter: hue-rotate(2);
          filter: hue-rotate(2);
}

.card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.4;
}

.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
  font-size: 4rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.8rem;
}

.card h2 span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #090038;
  font-size: 1.6rem;
  font-weight: 400;
  background: #ffffff;
  border-radius: 2rem;
  padding: 0 1.6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3.8rem;
}

@media (min-width: 700px) {
  .page {
    max-width: 117rem;
    padding: 0 2rem;
  }
  main {
        grid-template-areas: "B A" "C D";
  }
  div:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: A;
  }
  div:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: B;
  }
  div:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: C;
  }
  div:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: D;
  }
}

@media (min-width: 930px) {
  main {
        grid-template-areas: "B A A" "C C D";
  }
  div:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: A;
  }
  div:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: B;
  }
  div:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: C;
  }
  div:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: D;
  }
}
/*# sourceMappingURL=style.css.map */